NEXT_PUBLIC_SUPABASE_URL=https://lmawrsmjyermswzwttbe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_najdTD9CxUlNVgmP9m0L7g_i2aCO0Wm
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_najdTD9CxUlNVgmP9m0L7g_i2aCO0Wm
